$colors: (
  neutral: (
    900: #1C1A19,
    800: #201E1D,
    700: #34302D,
    600: #4A4846,
    400: #C0BFBF,
    300: #DEDCDA,
    200: #EFEDEB,
    100: #FBF9F7,
    0: #FFFFFF,
  ),
  blue: (
    900: #022B4A,
    800: #5792C0,
    700: #75B0DE,
    500: #93CEFC,
    200: #E1F1FE,
  ),
  green: (
    900: #132A18,
    700: #008531,
    500: #9DD3A9,
    200: #E9F5EA,
  ),
  yellow: (
    900: #4A3003,
    700: #EA9806,
    500: #FACC79,
    200: #FFF5E1,
  ),
  red: (
    400: #F04438,
    600: #D92D20,
  ),
);
