$colors: (
  neutral: (
    900: #000000,
    100: #ffffff,
  ),
  primary: (
    100: #e1e7fe,
    300: #b3d3f1,
    500: #345ff6,
    900: #253347,
  ),
  secondary: (
    500: #5e6e85,
    200: #acc1de,
  ),
  tertiary: (
    100: #f7f0f8,
  ),
);
