@use '../abstracts/' as *;

.base-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  &__content {
    padding: 10px;
    max-width: $content-max-width;
    margin-inline: auto;
    @include border-side(left);
    @include border-side(right);
  }
}