---
import type { CollectionEntry } from "astro:content";
import Heading from "../ui/Heading.astro";
import Link from "../ui/Link.astro";

interface Props {
  data: CollectionEntry<"posts">["data"];
  showDescription?: boolean;
  url: string;
}

const { data, showDescription, url } = Astro.props;

const formattedDate = new Date(data.pubDate).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<div class="article-preview">
  <Heading tagName="h4" level="4">
    <Link href={url}>{data.title}</Link>
  </Heading>
  {showDescription && <p>{data.description}</p>}
  <p class="article-preview__date">{formattedDate}</p>
</div>

<style lang="scss">
  @use "../../sass/abstracts/" as *;

  .article-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: size(8);

    &__title-link {
      color: inherit;
      text-decoration: none;
    }

    &__date {
      font-style: italic;
    }
  }
</style>
