@font-face {
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  a {
    text-decoration: none;
  }
}

@layer base {
  /* Primitives */
  :root {
    --clr-white: #ffffff;
    --clr-gray: #949494;
    --clr-blue-700: #242742;
    --clr-blue-800: #36384d;
    --clr-red: #ff6155;
    --clr-gradient: linear-gradient(#ff6a3a, #ff527b);

    --ff: "Roboto", sans-serif;

    --fs-300: 0.75rem; /* 12 */
    --fs-400: 1rem; /* 16 */
    --fs-800: 2.5rem; /* 40 */
    --fs-1200: 3.5rem; /* 56 */
    --fs-2000: 5.5rem; /* 88 */

    --fw-regular: 400;
    --fw-bold: 700;

    --spacing-100: 0.5rem; /* 8 */
    --spacing-200: 1rem; /* 16 */
    --spacing-300: 1.5rem; /* 24 */
    --spacing-400: 2rem; /* 32 */
    --spacing-500: 2.5rem; /* 40 */
    --spacing-600: 3rem; /* 48 */
    --spacing-800: 4rem; /* 64 */
    --spacing-900: 4.5rem; /* 72 */
    --spacing-1300: 6.5rem; /* 104 */

    --border-radius-100: 0.5rem;
    --border-radius-300: 2.25rem;

    --line-height-heading: 1;
    --line-height-body: 1.5;

    --letter-spacing-narrow: 0;

    /* Semantic Layer */
    /* in another selector for syntax highlighting reasons only */
  }
  :root {
    --clr-accent: var(--clr-red);

    --measure: 60ch;

    --main-gap: var(--spacing-400);

    --text-main: var(--clr-blue-800);
    --text-high-contrast: var(--clr-accent);
    --text-white: var(--clr-white);

    --background-blue: var(--clr-blue-700);
    --background-white: var(--clr-white);
  }
}

@layer base {
  html {
    font-family: var(--ff);
    line-height: var(--line-height-body);
  }

  body {
    font-size: var(--fs-400);
    color: var(--text-main);
    letter-spacing: var(--letter-spacing-narrow);
  }

  h1,
  h2,
  h3,
  h4 {
    max-inline-size: var(--measure);
    color: var(--text-main);
    font-family: var(--ff);
  }

  p {
    max-inline-size: var(--measure);
    font-weight: var(--fw-regular);
  }

  strong {
    font-weight: var(--fw-bold);
  }
}

@layer layout {
  .cover {
    display: flex;
    min-block-size: 100vh;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-400);
  }

  .box {
    --box-inline-padding: var(--spacing-400);
    --box-block-padding: var(--spacing-400);
    padding: var(--box-block-padding) var(--box-inline-padding);
  }

  .container {
    display: flex;
  }

  .with-sidebar {
    flex-wrap: wrap;

    & > :first-child {
      flex-basis: 0;
      flex-grow: 999;
      min-inline-size: calc(50% - var(--main-gap));
    }

    & > :last-child {
      flex-basis: 17.8rem;
      flex-grow: 1;
    }
  }

  .stack {
    --stack-space: var(--spacing-400);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .stack > * {
    margin-block: 0;
  }

  .stack > * + * {
    margin-block-start: var(--stack-space);
  }
}

@layer components {
}

@layer utilities {
}

@layer queries {
}
