---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="heading" data-level="1">Blog here</h1>
</BaseLayout>

<style lang="scss">
  @import "src/sass/abstracts/";

  h1 {
    // color: clr(blue, 500);
  }
</style>
