---
import IconButton from "@/components/ui/IconButton.astro";
import Heading from "@/components/ui/Heading.astro";
import { baseData } from "@/data/siteData";
---

<section class="intro | stack padding-block-start-48">
  <Heading tagName="h1" level="1" underline>{baseData.greeting}</Heading>
  <p class="paragraph">{baseData.intro}</p>
  <div class="social-icons">
    <IconButton
      tagName="a"
      href="https://github.com/cepoumian"
      icon="icon--github"
      size={24}
    />
    <IconButton
      tagName="a"
      href="https://www.linkedin.com/in/cesar-eduardo-poumian-orozco-407020b6/"
      icon="icon--linkedin"
      size={24}
    />
    <IconButton
      tagName="a"
      href="https://www.frontendmentor.io/profile/cepoumian"
      icon="icon--femr"
      size={24}
    />
  </div>
</section>

<style lang="scss">
  section {
    display: flex;
    align-items: flex-start;
    text-align: left;
  }

  .social-icons {
    display: flex;
    gap: 1rem;
  }
</style>
