---
import { getCollection, type CollectionEntry } from "astro:content";
import Heading from "../ui/Heading.astro";
import Link from "../ui/Link.astro";
import ArticlePreview from "../article/ArticlePreview.astro";

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<section class="latest-articles padding-block-start-48 padding-block-end-24">
  <Heading tagName="h1" level="1" ornament>Latest Articles</Heading>
  <div class="stack">
    {
      posts
        .slice(0, 3)
        .map(({ data, slug }) => (
          <ArticlePreview data={data} url={`/blog/${slug}/`} />
        ))
    }
  </div>
  <Link href="/blog" underline>View all articles</Link>
</section>

<style lang="scss">
  @use "../../sass/abstracts/" as *;

  .latest-articles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: size(32);
  }
</style>
