---
import IconButton from "./ui/IconButton.astro";
---

<footer class="footer">
  <div class="divider"></div>
  <div class="footer__container">
    <p>Made with ❤️ and ☕ by Cesar Poumian</p>
    <div class="social-icons">
      <IconButton
        tagName="a"
        href="https://github.com/cepoumian"
        icon="icon--github"
        size={24}
        blend
      />
      <IconButton
        tagName="a"
        href="https://www.linkedin.com/in/cesar-eduardo-poumian-orozco-407020b6/"
        icon="icon--linkedin"
        size={24}
        blend
      />
      <IconButton
        tagName="a"
        href="https://www.frontendmentor.io/profile/cepoumian"
        icon="icon--femr"
        size={24}
        blend
      />
    </div>
  </div>
</footer>
