---
import { Icon } from "astro-icon/components";
import IconButton from "./ui/IconButton.astro";
---

<footer class="footer">
  <hr class="divider" />
  <div class="footer__container">
    <div>
      <p>
        Crafted with ❤️ and <span
          ><Icon
            style="display: inline; transform: translateY(0.4em);"
            name="icon--astro"
            size={24}
          /></span
        >
      </p>
      <p>by Cesar Poumian</p>
    </div>
    <div class="social-icons">
      <IconButton
        tagName="a"
        href="https://github.com/cepoumian"
        icon="icon--github"
        size={24}
        blend
      />
      <IconButton
        tagName="a"
        href="https://www.linkedin.com/in/cesar-eduardo-poumian-orozco-407020b6/"
        icon="icon--linkedin"
        size={24}
        blend
      />
      <!-- <IconButton
        tagName="a"
        href="https://www.frontendmentor.io/profile/cepoumian"
        icon="icon--femr"
        size={24}
        blend
      /> -->
    </div>
  </div>
</footer>
