@use '../abstracts' as *;

.paragraph {
  // color: clr(neutral, 100);
  font-size:fs(450);
  line-height: $line-height-regular;
  font-weight: $fw-300;

  .hero & {
    max-inline-size: $measure-tight;
  }
}
