---
import { getCollection, type CollectionEntry } from "astro:content";
import Heading from "../ui/Heading.astro";
import Link from "../ui/Link.astro";
import ArticlePreview from "../article/ArticlePreview.astro";

interface Props {
  data: CollectionEntry<"posts">[];
}

const { data: posts } = Astro.props as Props;
---

<section class="latest-articles padding-block-start-48 padding-block-end-24">
  <div class="stack">
    {
      posts.map(({ data, slug }) => (
        <ArticlePreview data={data} url={`/posts/${slug}/`} showDescription />
      ))
    }
  </div>
</section>

<style lang="scss">
  @use "../../sass/abstracts/" as *;

  .latest-articles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: size(32);
  }
</style>
